# Unity-specific .gitignore
# Ignore Library and Temp directories
POD3_Game/Library/
POD3_Game/Temp/
POD3_Game/Library/AnnotationManager
POD3_Game/Library/ArtifactDB
POD3_Game/Library/ArtifactDB-lock

POD3_Game/Assests/TextMesh Pro
POD3_Game/Logs